.number_buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 208px;
    margin-left: auto;
    margin-right:auto;
    padding-right: 2px;
    justify-content: center;
}
